<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Style Generator</title>
    <link rel="stylesheet" href="public/css/style.css">
    <script src="web/react-0.13.3/build/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>    
    <script type="text/babel">

var StylesBox = React.createClass({
	getInitialState: function() {
		return {data: []}
    },
    componentDidMount: function() {
    	this.getStyles();
    },
    getStyles: function() {
	    $.ajax({
	      url: this.props.url,
	      dataType: 'json',
	      cache: false,
	      success: function(data) {
	        this.setState({data: data});
	      }.bind(this),
	      error: function(xhr, status, err) {
	        console.error(this.props.url, status, err.toString());
	      }.bind(this)
	    });
    },
	render: function() {
		var styles = "";
		if (Object.keys(this.state.data).length > 0) {
			styles = this.state.data.first + " + " + this.state.data.second;
		}

		return (<div id="styles">{styles}<button onClick={this.getStyles}>Reroll</button></div>)
	}
});

React.render(
	<StylesBox url="/styles" />,
	document.getElementById("content")
);
    </script>
</head>
<body>
    <div id="content"></div>
</body>
</html>