<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Style Generator</title>
    <link rel="stylesheet" href="public/css/style.css">
    <script type="text/javascript">
    function clicked() {
		var xmlhttp;
		if (window.XMLHttpRequest)
		  {// code for IE7+, Firefox, Chrome, Opera, Safari
		  xmlhttp=new XMLHttpRequest();
		  }
		else
		  {// code for IE6, IE5
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		  }
		xmlhttp.onreadystatechange=function()
		  {
		  if (xmlhttp.readyState==4 && xmlhttp.status==200)
		    {
		    document.getElementById("styles").innerHTML=xmlhttp.responseText;
		    }
		  }
		xmlhttp.open("GET","styles",true);
		xmlhttp.send();
	}    

    </script>
</head>
<body>
    <p id="styles">{{.first}} + {{.second}}</p>
    <button onclick="clicked()">reroll</button>
</body>
</html>